<div class="lfooter" style="z-index: 999">
    <ul>
        <li><a href="{:U('index/index')}"><img src="__PUBLIC__/mobile/images/index.png" width="30" height="30"/><br/>首页</a></li>
        <li><a href="{:U('index/travel')}"><img src="__PUBLIC__/mobile/images/travel.png" width="30" height="30"/><br/>出行</a></li>
        <li><a target="_blank" href="/music/index.html"><img src="__PUBLIC__/mobile/images/yinyue.png" width="30" height="30"/><br/>音乐</a></li>
        <!--<li><a href="{:U('index/message')}"><img src="__PUBLIC__/mobile/images/liuyan.png" width="30" height="30"/><br/>联系我们</a></li>-->
        <li><a href="{:U('index/blog')}"><img src="__PUBLIC__/mobile/images/liuyan.png" width="30" height="30"/><br/>博客</a></li>
    </ul>
</div>