<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__PUBLIC__/auth/lib/html5.js"></script>
    <script type="text/javascript" src="__PUBLIC__/auth/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/auth/lib/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/auth/lib/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/auth/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/auth/lib/h-ui.admin/css/style.css"/>
    <!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/auth/lib/h-ui.admin/skin/default/skin.css" id="skin"/>-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/login/css/sweetalert.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->
    <title>添加</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" id="title" name="title"
                       required>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类栏目：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
				<select name="type" class="select" id="type">
                        <option value="1">ofo</option>
                        <option value="2">mobike</option>
                        <option value="3">滴滴</option>
                </select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">URL：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="url" id="url" cols="" rows="" class="textarea" datatype="*10-100" dragonfly="true" nullmsg="" required></textarea>
                <p class="textarea-numberbar"></p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>结束时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" id="stop_time" name="stop_time"
                       required>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">前台展示：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="check-box">
                    <input type="checkbox" id="show" name="show">
                    <label for="checkbox-pinglun">&nbsp;</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onClick="news_save();" class="btn btn-secondary radius" type="button"><i
                        class="Hui-iconfont">&#xe632;</i> 保存
                </button>
                <button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/auth/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/auth/lib/h-ui/js/H-ui.js"></script>
<!--/_footer /作为公共模版分离出去-->
<script src="__PUBLIC__/login/js/sweetalert.min.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    function news_save() {
        var show = $("#show").get(0).checked;
        if (show == true) {
            show = 0;
        } else {
            show = 1;
        }
        var title = $('#title').val();
        var id = $('#id').val();
        var type = $('#type').val();//选中的值
        var stop_time = $('#stop_time').val();
        var url = $('#url').val();
//        var new_key = $('#new_key').val();
        info = {
            'show': show,
            'title': title,
            'id': id,
            'type': type,
            'stop_time': stop_time
        };
        $.ajax({
            url: "{:U('mobile/save')}",
            type: "post",
            data: info,
            success: function (data) {
                if (data) {
                    swal({
                        title: "提交成功",
                        text: '',
                        type: "success"
                    })
                } else {
                    swal({
                        title: "没有更改内容，请勿重复提交",
                        text: '',
                        type: "warning"
                    })
                }
            }
        })
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>